html {
  font-family: "droid serif", serif;
}

.sans {
  font-family: "Brandon Grotesque", serif;
}

/** colours **/

.dark-blue {
  color: #4c6a79;
}

.bg-dark-blue {
  background-color: #4c6a79;
}

.border-dark-blue {
  border: 5px solid #4c6a79;
}

.light-blue {
  color: #e1eef5;
}

.bg-light-blue {
  background-color: #e1eef5;
}

.border-light-blue {
  border: 5px solid #e1eef5;
}

.black {
  color: black;
}

.bg-black {
  background-color: black;
}

.border-black {
  border: 5px solid black;
}

.white {
  color: white;
}

.bg-white {
  background-color: white;
}

.border-white {
  border: 5px solid white;
}

/** media queries **/

@media only screen and (min-width: 60em) {

  .content {
    background-color: #e1eef5;
    position: absolute;
    top: 16em;
  }

  .banner {
    max-height: 500px;
    overflow: hidden;
    position: relative;
  }

}
