html {
  font-family: "droid serif", sans-serif;
}

.sans {
  font-family: "Brandon Grotesque", serif;
}

nav li {
  display: inline-block;
}

.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 300;
}

.indent {
  text-indent: 25px;
}

.card-hover:hover {
 background-color: #cfdce3;
 color: black;
}

/* skip links */

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  background-color: #fff;
  color: #000;
  padding: .5em .75em;
  text-decoration: none;
}

.skip-links a:focus {
  top: 1em;
}

/** buttons **/

a {
  text-decoration: none;
  text-align: left;
}

/** colours **/

.dark-blue {
  color: #4c6a79;
}

.bg-dark-blue {
  background-color: #4c6a79;
}

.border-dark-blue {
  border: 5px solid #4c6a79;
}

.light-blue {
  color: #e1eef5;
}

.bg-light-blue {
  background-color: #e1eef5;
}

.border-light-blue {
  border: 5px solid #e1eef5;
}

.black {
  color: black;
}

.bg-black {
  background-color: black;
}

.border-black {
  border: 5px solid black;
}

.white {
  color: white;
}

.bg-white {
  background-color: white;
}

.border-white {
  border: 5px solid white;
}

/** media queries **/

@media only screen and (max-width: 25em) {

  header {
    text-align: center;
  }

}

@media only screen and (max-width: 38em) {

  .logo {
    font-size: 1.4238rem;
    line-height: 2.1rem;
  }

}

@media only screen and (min-width: 60em) {

  .content {
    background-color: #e1eef5;
    position: absolute;
    top: 10em;
  }

  .banner {
    max-height: 500px;
    overflow: hidden;
    position: relative;
  }

  .beyonce {
    display: flex;
    justify-content: flex-start;
  }

  .jayz {
    display: flex;
    justify-content: flex-end;
  }

}
